.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;

  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
  overflow-x: hidden;
}

.header {
  margin: 0;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
}
  /* выше установили ограничения для секции */

.content {
  position: relative;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  right: 0;
  top: 64px;
  position: absolute;
  z-index: 1;
}

.header__title {
  width: 730px;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  position: relative;
  z-index: 3;
}

.header__subtitle {
  margin: 0;
  width: 388px;
  left: 64px;
  bottom: 30px;
  position: absolute;
  font-size: 18px;
  line-height: 25px;
  z-index: 3;
}
.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  left: 64px;
  top: 30px;
  position: absolute;
  z-index: 4;
}
.description {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}
.two-columns {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2em;
  color: #2f80ed;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.two-columns__main-text {
  margin: 0;
  padding: 0;
  width: 80%;
  min-width: 784px;
  list-style: none;
  font-size: 24px;
  line-height: 34px;
}
.two-columns__paragraph {
  margin-bottom: 30px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

.digits {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 0;
  width: 60%;
  text-align: center;
  font-size: 60px;
  line-height: 1.15em;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-subtitle {
  margin: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  width: 60%;
  text-align: center;
}

.table {
  padding-left: 0;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 90px;
  list-style-type: none;
}

.table__cell {
  width: 250px;
  padding-top: 60px;
}

.table__heading {
  margin: 0;
  font-size: 24px;
  line-height: 1.15em;
  font-weight: bold;
}

.table__text {
  font-size: 18px;
  line-height: 1.2em;
  font-weight: normal;
  margin: 0;
  padding-top: 20px;
}
.feynman {
  min-height: 890px;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.feynman__title {
  width: 648px;
  font-size: 120px;
  line-height: 1.15em;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0;
}
.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  margin-top: 70px;
  margin-bottom: 0;
}
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}
/* и элемента с модификатором вида ключ-значение */
.kaufman {
  position: relative;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 1;
}
.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  z-index: -1;
  right: -210px;
  top: 0%;
  background-size: 100% 98%;
  position: absolute;
}

.section-title_theme_dark {
  color: white;
  margin: 0;
  text-align: center;
  font-size: 60px;
  line-height: 1.15em;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-subtitle_theme_dark {
  color: white;
  margin: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  width: 60%;
  text-align: center;
}

.table__theme_dark {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 90px;
}

.table__heading_theme_dark {
  font-size: 24px;
  line-height: 1.15em;
  font-weight: bold;
  margin: 0;
}

.table__text_theme_dark {
  font-size: 18px;
  line-height: 1.2em;
  font-weight: normal;
  margin: 0;
  padding-top: 20px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  padding-top: 80px;
  z-index: 2;
}

.footer {
  display: flex;
  box-sizing: border-box;
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0 40px 0;
}

.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  margin: 0;
  padding: 18px 0;
  color: white;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.footer__column-heading {
  margin: 0;
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.footer__column-links {
  margin: 0;
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 16px;
  padding-left: 0;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  list-style-type: none;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 18px;
  line-height: 30px;
}

.footer__social-icon {
  padding-right: 10px;
}


